
#home{
    width: 100%;
    height: 100%;
}
#home #exit{
    text-align: right;
}
#home .details-pre{
    font-weight: 700;
}
#home .task{
    border: 1px solid black;
    display:display-block;
    padding: 10px;
    width: 100%;
    height: 100%;
    
}

#home .nameTask-1{
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

#home .button{
    width: 100%;
    text-align: right;
}

#home .stick{

    position: -webkit-sticky;
    position: sticky;
    top: 90%;
    z-index: 10;

}
#home .stick .button{
    width: 40px;
    position: absolute;
    right: -1%;
    cursor: pointer;
}
